.container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 3fr 5fr;
}

/* Tesla*/
.tesla {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

/* Apple */
.apple {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

/* Meta */
.meta {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

/* Chat */
.chat {
  grid-column: 2 / 3;
  grid-row: 2 / 5;
}

/* Title */
.title {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}
